.spinner {
    width: 56px;
    height: 56px;
    display: grid;
    animation: spinner-plncf9 4s infinite;
 }
 
 .spinner::before,
 .spinner::after {
    content: "";
    grid-area: 1/1;
    border: 9px solid;
    border-radius: 50%;
    border-color: #474bff #474bff #0000 #0000;
    mix-blend-mode: darken;
    animation: spinner-plncf9 1s infinite linear;
 }
 
 .spinner::after {
    border-color: #0000 #0000 #dbdcef #dbdcef;
    animation-direction: reverse;
 }
 
 @keyframes spinner-plncf9 {
    100% {
       transform: rotate(1turn);
    }
 }
 
.App{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
    background: linear-gradient(135deg, #f3b4b4 14%, hsla(180, 28%, 79%, 1) 61%, hsla(96, 72%, 80%, 1) 86%);
}
.eachSet{
    padding: 1rem;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    gap: 10px;
    position: relative;
}
.quiz-answers{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}
.ans1{
    background-color: rgb(255, 255, 255);
    padding: 0.7rem;
    display: flex;
    gap: 15px;
    width: 400px;
    border-radius: 25px;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;
    padding-left: 2rem;
    transition: 0.5s ease-in-out;
}
input:hover{
    cursor: pointer;
}
.ans1:hover{
    background-color: rgba(167, 255, 140, 0.651);
    scale: 1.2;
    transition: 0.5s ease-in-out;
}
.eachSet p{
    width: 500px;
    text-align: center;
    font-weight: 600;
}
.eachSet .timer{
    color: red;
    float: right;
}
.eachSet .question{
    padding: 0.7rem;
    border-radius: 25px;
}
.eachSet h2, .result h3{
    font-size: 48px;
    color: white;
    text-shadow: 0 0 10px black;
}
.eachSet button{
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 22px;
    font-weight: 700;
    position: absolute;
    right: 30px;
    bottom: -30px;
    animation: skip 1s ease-in-out   infinite alternate;
}

@keyframes skip{
    0% {
        font-size: 22px;
        transition: 2s ease-in-out;
        color: white;
        text-shadow: 0 0 10px black;
    }
    100% {
        transition: 2s ease-in-out;
        font-size: 27px;
        color: red;
    }
}
.performance{
    display: flex;
    align-items: center;
    gap: 10px;
}
.performance p span{
    font-size: 28px;
    font-weight: 700;
    color: #474bff;
}
.result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #ffffff;
    padding: 2.5rem;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.result h3{
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.288);
    color: #ae99f8;
}

.result button {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.result button:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.result button:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.result button:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.result button:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.result button:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.result button:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.result button:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.result button:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.landingButton {
  padding: 12px 26px;
  padding-bottom: 18px;
  border: 0;
  font-size: 16px;
  transition: all 150ms ease-in-out;

  border-radius: 20px;
  cursor: pointer;
  color: #4285f4;
  font-weight: bold;
  background: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0, inset 0px -6px 0px rgba(0, 0, 0, 0.1), inset 0px -2px 0px rgba(0, 0, 0, 0.15);
}

.landingButton:hover {
  filter: brightness(0.98);
}

.landingButton:active {
  filter: brightness(0.97);
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 6px 0, inset 0px -1px 0px rgba(0, 0, 0, 0.15);
}
